@font-face {
    font-family: dos;
    src: url("fonts/Perfect DOS VGA 437 win.ttf");
}
html
{
    font-family: 'dos';
    font-size: 40px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */

}
.terminal{
    word-wrap: break-word;
    background: black;
    color: white;
    padding: 10px;
    height: 100px;
}
.selected
{
    color: black;
    background-color: white;
}
